/*
table#transactions, table#summary {
    line-height: 2.5 !important;
    vertical-align: middle;
}
*/

/* From the original theme template sticky-footer-navbar.css */
/*
main > .container {
    padding: 60px 15px 0;
}

/*
.navbar-nav .nav-bar-separator {
    border-right: 2px solid #3d8bfd;
}
    */
    /*
                           Hover    Odd    Even
                            85%     90%     95%     (lighter)
A    RED     #FE2712    #ffdfdb #ffe9e7 #fff4f3
B    BROWN   #85534e	
C    ORANGE  #FB9902	
D    Y-O     #FCCC1A	
E    YELLOW  #FEFE33	
F    Y-G     #B2D732
G    BLUE    #0000FF
H    B-G     #347C98	
I    GREEN   #66B032    #e0f2d3 #eff9e9 #f7fcf4	
J    B-P     #4424D6	
K    PURPLE  #8601AF
L	
M    R-P     #C21460
N
*/

:root {
    --aqua-base: #e3f2f6;
    --aqua-odd: #d8edf3;
    --aqua-hover: #cee8ef;
    --aqua-show: #3a99b3;
    --blue-base: #dce8f7;
    --blue-odd: #d1e1f4;
    --blue-hover: #c5d9f2;
    --blue-show: #2b6dbe;
    --blue-dull-base: #e5ecf4;
    --blue-dull-odd: #dbe5f0;
    --blue-dull-hover: #d1ddec;
    --blue-dull-show: #4673a6;
    --brown-base: #e5e2d3;
    --brown-odd: #e0ddcb;
    --brown-hover: #dbd7c2;
    --brown-show: #8a8152;
    --gold-base: #fbf5df;
    --gold-odd: #f9f1d2;
    --gold-hover: #f8edc6;
    --gold-show: #d3ab1a;
    --green-base: #f0f4e6;
    --green-odd: #eaf0dc;
    --green-hover: #e4ebd2;
    --green-show: #8aa548;
    --lavender-base: #ebe7f1;
    --lavender-odd: #e4deec;
    --lavender-hover: #dcd5e7;
    --lavender-show: #705795;
    --peach-base: #fdeee2;
    --peach-odd: #fce6d5;
    --peach-hover: #fbdec7;
    --peach-show: #e06c0f;
    --pink-base: #f5e5e4;
    --pink-odd: #f1dbda;
    --pink-hover: #edd1cf;
    --pink-show: #ad4640;
    --purple-base: #ebe4f5;
    --purple-odd: #e3daf1;
    --purple-hover: #dccfed;
    --purple-show: #6d40ad;
    --sage-base: #e8ebe1;
    --sage-odd: #e2e5d9;
    --sage-hover: #dbe0d0;
    --sage-show: #7c8a5c;
    --smoke-base: #f5f5f5;
    --smoke-odd: #eeeeee;
    --smoke-hover: #e6e6e6;
    --smoke-show: #7a7a7a;
    --yellow-base: #fffff1;
    --yellow-odd: #ffffe2;
    --yellow-hover: #ffffd3;
    --yellow-show: #f8f800;

}


/**
  * Account Code A
  */
    .table.bu-table-striped>tbody>tr.account-code-a {
        background-color: var(--lavender-base) !important;               /* Base */
    }

    .table.bu-table-striped>tbody>tr.account-code-a:nth-of-type(odd) {       
        background-color: var(--lavender-odd) !important;              /* 3% darker */
    }

    .table.bu-table-hover>tbody>tr.account-code-a:hover {
        background-color: var(--lavender-hover) !important;               /* 6% darker */ 
    }

    .table.bu-table-striped>tbody>tr.account-code-a td.has-note::before {
        color: var(--lavender-show) !important;                          /* 50% darker */
    }


/**
  * Account Code B
  */
.table.bu-table-striped>tbody>tr.account-code-b {
    background-color: var(--brown-base) !important;               /* Base */
}

.table.bu-table-striped>tbody>tr.account-code-b:nth-of-type(odd) {       
    background-color: var(--brown-odd)  !important;              /* 3% darker */
    
}

.table.bu-table-hover>tbody>tr.account-code-b:hover {
    background-color: var(--brown-hover) !important;               /* 6% darker */  
}

.table.bu-table-striped>tbody>tr.account-code-b td.has-note::before {
    color: var(--brown-show) !important;                          /* 50% darker */
}


/**
  * Account Code C
  */
  
  .table.bu-table-striped>tbody>tr.account-code-c {
    background-color: var(--blue-dull-base) !important;               /* Base */
}

.table.bu-table-striped>tbody>tr.account-code-c:nth-of-type(odd) {       
    background-color: var(--blue-dull-odd)  !important;              /* 3% darker */
}

.table.bu-table-hover>tbody>tr.account-code-c:hover {
    background-color: var(--blue-dull-hover) !important;               /* 6% darker */ 
}

.table.bu-table-striped>tbody>tr.account-code-c td.has-note::before {
    color: var(--blue-dull-show) !important;                          /* 50% darker */
}


/**
  * Account Code D
  */
    .table.bu-table-striped>tbody>tr.account-code-d {
        background-color: var(--peach-base) !important;               /* Base */
    }

    .table.bu-table-striped>tbody>tr.account-code-d:nth-of-type(odd) {       
        background-color: var(--peach-odd)  !important;              /* 3% darker */
    }

    .table.bu-table-hover>tbody>tr.account-code-d:hover {
        background-color: var(--peach-hover) !important;               /* 6% darker */ 
    }

    .table.bu-table-striped>tbody>tr.account-code-d td.has-note::before {
        color: var(--peach-show) !important;                          /* 50% darker */
        
    }


/**
  * Account Code E
  */
  .table.bu-table-striped>tbody>tr.account-code-e {
    background-color: var(--aqua-base) !important;               /* Base */
}

.table.bu-table-striped>tbody>tr.account-code-e:nth-of-type(odd) {       
    background-color: var(--aqua-odd)  !important;              /* 3% darker */
}

.table.bu-table-hover>tbody>tr.account-code-e:hover {
    background-color: var(--aqua-hover) !important;               /* 6% darker */ 
}

.table.bu-table-striped>tbody>tr.account-code-e td.has-note::before {
    color: var(--aqua-show) !important;                          /* 50% darker */
    
}


/**
  * Account Code F
  */
  .table.bu-table-striped>tbody>tr.account-code-f {
    background-color: var(--green-base) !important;               /* Base */
}

.table.bu-table-striped>tbody>tr.account-code-f:nth-of-type(odd) {       
    background-color: var(--green-odd)  !important;              /* 3% darker */
}

.table.bu-table-hover>tbody>tr.account-code-f:hover {
    background-color: var(--green-hover) !important;               /* 6% darker */ 
}

.table.bu-table-striped>tbody>tr.account-code-f td.has-note::before {
    color: var(--green-show) !important;                          /* 50% darker */
}


/**
  * Account Code G
  */
    .table.bu-table-striped>tbody>tr.account-code-g {
        
        background-color: var(--smoke-base) !important;               /* Base */
    }

    .table.bu-table-striped>tbody>tr.account-code-g:nth-of-type(odd) {       
        
        background-color: var(--smoke-odd)  !important;              /* 3% darker */
    }

    .table.table.bu-table-hover>tbody>tr.account-code-g:hover {
        
        background-color: var(--smoke-hover) !important;               /* 6% darker */  
    }

    .table.table.bu-table-striped>tbody>tr.account-code-g td.has-note::before {
        
        color: var(--smoke-show) !important;                          /* 50% darker */
    }


/**
  * Account Code H
  */
    .table.bu-table-striped>tbody>tr.account-code-h {
        background-color: var(--blue-base) !important;               /* Base */
    }

    .table.bu-table-striped>tbody>tr.account-code-h:nth-of-type(odd) {       
        background-color: var(--blue-odd) !important;              /* 3% darker */
    }

    .table.bu-table-hover>tbody>tr.account-code-h:hover {
        background-color: var(--blue-hover) !important;               /* 6% darker */ 
    }

    .table.bu-table-striped>tbody>tr.account-code-h td.has-note::before {
        color: var(--blue-show) !important;                          /* 50% darker */
    }


/**
  * Account Code I
  */
    .table.bu-table-striped>tbody>tr.account-code-i {
        background-color: var(--gold-base) !important;               /* Base */
    }

    .table.bu-table-striped>tbody>tr.account-code-i:nth-of-type(odd) {       
        background-color: var(--gold-odd)  !important;              /* 3% darker */
    }

    .table.bu-table-hover>tbody>tr.account-code-i:hover {
        background-color: var(--gold-hover) !important;               /* 6% darker */ 
    }

    .table.bu-table-striped>tbody>tr.account-code-i td.has-note::before {
        color: var(--gold-show) !important;                          /* 50% darker */
    }


/**
  * Account Code J
  */
    .table.bu-table-striped>tbody>tr.account-code-j {
        background-color: var(--pink-base) !important;               /* Base */
    }

    .table.bu-table-striped>tbody>tr.account-code-j:nth-of-type(odd) {       
        background-color: var(--pink-odd)  !important;              /* 3% darker */
    }

    .table.bu-table-hover>tbody>tr.account-code-j:hover {
        background-color: var(--pink-hover) !important;               /* 6% darker */ 
    }

    .table.bu-table-striped>tbody>tr.account-code-j td.has-note::before {
        color: var(--pink-show) !important;                          /* 50% darker */
    }


/**
  * Account Code K
  */
  .table.bu-table-striped>tbody>tr.account-code-k {
    background-color: var(--yellow-base) !important;               /* Base */
}

.table.bu-table-striped>tbody>tr.account-code-k:nth-of-type(odd) {       
    background-color: var(--yellow-odd)  !important;              /* 3% darker */
}

.table.bu-table-hover>tbody>tr.account-code-k:hover {
    background-color: var(--yellow-hover) !important;               /* 6% darker */ 
}

.table.bu-table-striped>tbody>tr.account-code-k td.has-note::before {
    color: var(--yellow-show) !important;                          /* 50% darker */
}


/**
  * Account Code L
  */
  .table.bu-table-striped>tbody>tr.account-code-l {
    background-color: var(--purple-base) !important;               /* Base */
}

.table.bu-table-striped>tbody>tr.account-code-l:nth-of-type(odd) {       
    background-color: var(--purple-odd)  !important;              /* 3% darker */
}

.table.bu-table-hover>tbody>tr.account-code-l:hover {
    background-color: var(--purple-hover) !important;               /* 6% darker */ 
}

.table.bu-table-striped>tbody>tr.account-code-l td.has-note::before {
    color: var(--purple-show) !important;                          /* 50% darker */
}


/**
  * Account Code N
  */
    .table.bu-table-striped>tbody>tr.account-code-n {
        background-color: var(--sage-base) !important;               /* Base */
    }

    .table.bu-table-striped>tbody>tr.account-code-n:nth-of-type(odd) {       
        background-color: var(--sage-odd)  !important;              /* 3% darker */
    }

    .table.bu-table-hover>tbody>tr.account-code-n:hover {
        background-color: var(--sage-hover) !important;               /* 6% darker */ 
    }

    .table.bu-table-striped>tbody>tr.account-code-n td.has-note::before {
        color: var(--sage-show) !important;                          /* 50% darker */
    }



.filter-applied {
    background-color: #ffc107 !important;
}

a.no-link-color {
    color: inherit;
}


div.content-wrapper {
    margin-left: 0 !important;
}

tr:not(.ui-datepicker-calendar tr) { 
    overflow: hidden;
    height: 60px;
    vertical-align: middle;
    white-space: nowrap;
}


body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

button:focus,
input:focus,
select:focus,
textarea:focus {
    outline: none;
}







th {
    /* border-top: 1px gray !important; */
    border-bottom: 1px gray !important;
}











td.has-note::before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    /*display: inline-block; */
    color: #999;
    font-style: normal;
    font-variant: normal;
    font-size: 1.25em;
    text-rendering: auto;
    line-height: 1;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    /*content: "\f138";*/
    /*padding-right: 5px;*/
    float: left;
    margin-top: 2px;
  }

td.has-note.right::before {
    content: "\f0da";
}

td.has-note.down::before {
    content: "\f0d7";
}

tr:not([class]) td.has-note::before {
    color: #999 !important;
}

/*
tr:not([class]) td.has-note {
    color: #fff !important;
    background-color: #999 !important;
}
    */


tr.regular-debit td.has-note {
    /*background-color: #aaaaaa !important;
}

td.has-note {
    color: #000 !important;
}

td.transaction-amount, td.transaction-date {
    text-align: right;
}

td.transaction-amount {
    /* font-family: 'Courier New', Courier, monospace; */
    font-weight: 500;
}

.debit {
    color: #ff0000 !important;
}

td/*.transaction-date*/.future {
    color: #bbb;
}

td/*.transaction-date*/.today {
    color: #fff;
    background-color: #C0504D !important;
    /* font-weight: 700; */
}

span.current-period, span.period-start, span.period-end {
    font-weight: 700;
}

td.highlight {
    background-color: rgba(var(--dt-row-hover), 0.052) !important;
}




textarea:focus, input:focus{
    outline: none;
}

/*
td.has-note {
    color: #fff;
    background-color: #C0504D;
}
*/

#filter-total {
    vertical-align:middle;
}

span.ftotal {
    font-size: 1em;
}

label[for='dt-length-0'] {
    margin-left: 5px;
    font-weight: normal !important;
}

.dataTables_filter{
    font-weight: normal;
}

.account-closed {
    font-weight: bold;
}

.counter, .savings-3, .record-id, .record-updated, .text-grey {
    color: #aaa;
}

.nav-treeview a {
    padding-left: 30px !important;
    font-size: .9em;
}


/*
select#sub-type {
    color: #cccccc !important;
}
    *

/*
#sub-type:invalid,
#sub-type option[value=""] {
    color: #cccccc !important;
}
    */


.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #cacaca;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #cacaca;

}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #cacaca;

}

/* See https://stackoverflow.com/a/52661024 */
select:not(:valid) {
    color: #cacaca;

}

/* Placeholder text for input fields with an attribute of 'required' is grey, but for input fields without this attribute (e.g. #sub-type) the text is black. Set the initial text colour for these input fields to grey. Subsequently the text colour for these input fields is controlled by its on change event in bu_custom.js */
.add-form select#sub-type-id.form-control,
.update-form select#sub-type-id.form-control,
select#prefill.form-control{
    color: #cacaca;
}




h3.card-title {
    font-size: 1.50rem !important;
}




/*
.savings-1 {
    background-color: #f0f3f4 !important;
}
*/

.buttons-columnVisibility {
    color: black !important;
    background-color: white !important;
    font-size: small !important;
}

/* CSS pseudo-element styling */

/* general reset/setup styling for icons - needed on all */

table.bu-data-table thead,
table.bu-data-table tfoot {
    background-color: #fdfdfd;
}

table.bu-data-table thead th {
    text-align: left;
    vertical-align: middle;
}

table.bu-data-table tfoot th {
    text-align: left;
    vertical-align: middle;
}

table tfoot.place-below-table-header {
    display: table-header-group;
}

table.bu-data-table thead th.center{
    text-align: center;
}

table.bu-data-table tfoot th {
    text-align: left;
    vertical-align: middle;
}


td:has(.note) {
    /* padding: 0px 0px 5px 50px !important; */
    padding-left: 30px;
    color: #c4c4c4;
    background-color: #666 !important;
    font-size: .9em;
    font-style: italic;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
}



  
  
  .tempus-dominus-widget div.date-container-days .disabled {
    color: #dddddd !important;
  }




  
